.matches {
    color: red;
}

.matchDay {
    color: blue;
}

.main {
    text-align: center;
    padding: 15px;
    display: block;
    width: 100%;
    background-color:#C0C0C0;
    
}

.block {
    display: block;
    width:100%;
    height: 50px;
    text-align: center;
}
body {
    background-color:#C0C0C0;
}